body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.drawer a {
  color: #555;
}
.drawer svg {
  margin-right: 0px;
}

/* App.css */

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Guru */
html{background:#fff;}
.background {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  color: rgb(52, 71, 103);
  box-shadow: none;
  background: linear-gradient(195deg, rgba(66, 66, 74, 0.6), rgba(25, 25, 25, 0.6)) center center / cover no-repeat, url(/public/bg-signin.jpeg) transparent;
  background-position: center center;
  background-repeat: no-repeat;
}
.login{z-index: 1;position: relative; padding-top:100px;color:white ;text-align: center;}
.login *, .login label, .login input{border-color:white !important;color:white;}
.form-login{max-width: 300px;width:94%; margin: 0 auto;}
.body{padding: 20px;}
.bg-box{background:#fff;}

/*Bootstrap*/
.py-2{padding:20px 0px;}